*{
    margin: 0;
    padding:0;
}
body{
    background-color: hsl(244, 100%, 15%)
}
main{
    display: grid;
    grid-template-areas: 
    /* 5 columns 4rows */
    'a a a a a a b b b'
    'a a a a a a b b b'
    'a a a a a a b b b'
    'a a a a a a b b b'
    'a a a a a a b b b'
    'c c c c d d d d d'
    'c c c c d d d d d'
    'c c c c e e e e e'
    'c c c c e e e e e'
    'c c c c e e e e e';
    gap: 10px
}
main div{
    padding:2em;
    text-align: center
}
.a{
    background-color: aqua;
    grid-area: a
}
.b{
    background-color: bisque;
    grid-area: b
}
.c{
    background-color: brown;
    grid-area: c
}
.d{
    background-color: black;
    grid-area: d
}
.e{
    background-color: blueviolet;
    grid-area: e
}